 .u-section-1 {
  background-image: none;
  min-height: 1801px;
}

.u-section-1 .u-layout-wrap-1 {
  width: 817px;
  margin: 0 calc(((100% - 1140px) / 2)) 0 auto;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 1420px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-text-1 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.2);
  font-size: 3rem;
  margin: 33px 21px 0 -38px;
}

.u-section-1 .u-text-2 {
  margin: 643px 319px 0 -38px;
}

.u-section-1 .u-text-3 {
  margin: 133px 106px 0 -97px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 1420px;
}

.u-section-1 .u-container-layout-2 {
  padding: 20px 0;
}

.u-section-1 .u-text-4 {
  font-size: 1.125rem;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.2);
  text-transform: uppercase;
  font-weight: 700;
  margin: 13px 30px 0;
}

.u-section-1 .u-text-5 {
  margin: 385px 86px 0 17px;
}

.u-section-1 .u-text-6 {
  margin: 9px 82px 0 13px;
}

.u-section-1 .u-text-7 {
  font-size: 1.875rem;
  text-transform: uppercase;
  font-weight: 700;
  margin: -606px calc(((100% - 1140px) / 2) + 579px) 0 calc(((100% - 1140px) / 2) + 182px);
}

.u-section-1 .u-image-1 {
  filter: brightness(0.8);
  width: 570px;
  height: 375px;
  margin: -557px auto 0 calc(((100% - 1140px) / 2) + 38px);
}

.u-section-1 .u-text-8 {
  margin: 382px calc(((100% - 1140px) / 2) + 598px) 0 calc(((100% - 1140px) / 2) + 226px);
}

.u-section-1 .u-text-9 {
  margin: 0 calc(((100% - 1140px) / 2) + 395px) 0 calc(((100% - 1140px) / 2) + 226px);
}

.u-section-1 .u-text-10 {
  margin: -144px calc(((100% - 1140px) / 2) + 583px) 0 calc(((100% - 1140px) / 2) + 226px);
}

.u-section-1 .u-text-11 {
  margin: 343px calc(((100% - 1140px) / 2) + 416px) 0 calc(((100% - 1140px) / 2) + 227px);
}

.u-section-1 .u-text-12 {
  margin: -142px calc(((100% - 1140px) / 2) + 416px) 0 calc(((100% - 1140px) / 2) + 227px);
}

.u-section-1 .u-text-13 {
  margin: -83px calc(((100% - 1140px) / 2) + 422px) 0 calc(((100% - 1140px) / 2) + 226px);
}

.u-section-1 .u-text-14 {
  margin: -171px calc(((100% - 1140px) / 2) + 441px) 0 calc(((100% - 1140px) / 2) + 226px);
}

.u-section-1 .u-image-2 {
  width: 277px;
  height: 277px;
  margin: -196px auto 0 0;
}

.u-section-1 .u-text-15 {
  margin: -336px calc(((100% - 1140px) / 2) + 513px) 0 calc(((100% - 1140px) / 2) + 226px);
}

.u-section-1 .u-text-16 {
  margin: 352px calc(((100% - 1140px) / 2) + 417px) 0 calc(((100% - 1140px) / 2) + 226px);
}

.u-section-1 .u-text-17 {
  margin: 12px calc(((100% - 1140px) / 2) + 364px) 0 calc(((100% - 1140px) / 2) + 227px);
}

.u-section-1 .u-text-18 {
  margin: 73px calc(((100% - 1140px) / 2) + 266px) 60px calc(((100% - 1140px) / 2) + 208px);
}

.u-section-1 .u-btn-1 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-layout-wrap-1 {
    margin-right: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 1339px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-top: 0;
    padding-bottom: 2px;
  }

  .u-section-1 .u-text-7 {
    margin-right: calc(((100% - 940px) / 2) + 479px);
    margin-left: calc(((100% - 940px) / 2) + 82px);
  }

  .u-section-1 .u-image-1 {
    margin-left: calc(((100% - 940px) / 2) + 38px);
  }

  .u-section-1 .u-text-8 {
    margin-right: calc(((100% - 940px) / 2) + 498px);
    margin-left: calc(((100% - 940px) / 2) + 126px);
  }

  .u-section-1 .u-text-9 {
    margin-right: calc(((100% - 940px) / 2) + 295px);
    margin-left: calc(((100% - 940px) / 2) + 126px);
  }

  .u-section-1 .u-text-10 {
    margin-right: calc(((100% - 940px) / 2) + 483px);
    margin-left: calc(((100% - 940px) / 2) + 126px);
  }

  .u-section-1 .u-text-11 {
    margin-right: calc(((100% - 940px) / 2) + 316px);
    margin-left: calc(((100% - 940px) / 2) + 127px);
  }

  .u-section-1 .u-text-12 {
    margin-right: calc(((100% - 940px) / 2) + 316px);
    margin-left: calc(((100% - 940px) / 2) + 127px);
  }

  .u-section-1 .u-text-13 {
    margin-right: calc(((100% - 940px) / 2) + 322px);
    margin-left: calc(((100% - 940px) / 2) + 126px);
  }

  .u-section-1 .u-text-14 {
    margin-right: calc(((100% - 940px) / 2) + 341px);
    margin-left: calc(((100% - 940px) / 2) + 126px);
  }

  .u-section-1 .u-text-15 {
    margin-right: calc(((100% - 940px) / 2) + 413px);
    margin-left: calc(((100% - 940px) / 2) + 126px);
  }

  .u-section-1 .u-text-16 {
    margin-right: calc(((100% - 940px) / 2) + 317px);
    margin-left: calc(((100% - 940px) / 2) + 126px);
  }

  .u-section-1 .u-text-17 {
    margin-right: calc(((100% - 940px) / 2) + 264px);
    margin-left: calc(((100% - 940px) / 2) + 127px);
  }

  .u-section-1 .u-text-18 {
    margin-right: calc(((100% - 940px) / 2) + 166px);
    margin-left: calc(((100% - 940px) / 2) + 108px);
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 481px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 720px;
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    margin-right: 229px;
    margin-left: 0;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 7px;
    margin-right: 7px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 58px;
    margin-left: 0;
  }

  .u-section-1 .u-text-6 {
    margin-right: 50px;
    margin-left: 0;
  }

  .u-section-1 .u-text-7 {
    margin-right: calc(((100% - 720px) / 2) + 341px);
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-image-1 {
    margin-left: calc(((100% - 720px) / 2) + 38px);
  }

  .u-section-1 .u-text-8 {
    margin-right: calc(((100% - 720px) / 2) + 388px);
    margin-left: calc(((100% - 720px) / 2) + 16px);
  }

  .u-section-1 .u-text-9 {
    margin-right: calc(((100% - 720px) / 2) + 185px);
    margin-left: calc(((100% - 720px) / 2) + 16px);
  }

  .u-section-1 .u-text-10 {
    margin-right: calc(((100% - 720px) / 2) + 373px);
    margin-left: calc(((100% - 720px) / 2) + 16px);
  }

  .u-section-1 .u-text-11 {
    margin-right: calc(((100% - 720px) / 2) + 206px);
    margin-left: calc(((100% - 720px) / 2) + 17px);
  }

  .u-section-1 .u-text-12 {
    margin-right: calc(((100% - 720px) / 2) + 206px);
    margin-left: calc(((100% - 720px) / 2) + 17px);
  }

  .u-section-1 .u-text-13 {
    margin-right: calc(((100% - 720px) / 2) + 212px);
    margin-left: calc(((100% - 720px) / 2) + 16px);
  }

  .u-section-1 .u-text-14 {
    margin-right: calc(((100% - 720px) / 2) + 231px);
    margin-left: calc(((100% - 720px) / 2) + 16px);
  }

  .u-section-1 .u-text-15 {
    margin-right: calc(((100% - 720px) / 2) + 303px);
    margin-left: calc(((100% - 720px) / 2) + 16px);
  }

  .u-section-1 .u-text-16 {
    margin-right: calc(((100% - 720px) / 2) + 207px);
    margin-left: calc(((100% - 720px) / 2) + 16px);
  }

  .u-section-1 .u-text-17 {
    margin-right: calc(((100% - 720px) / 2) + 154px);
    margin-left: calc(((100% - 720px) / 2) + 17px);
  }

  .u-section-1 .u-text-18 {
    margin-right: calc(((100% - 720px) / 2) + 54px);
    margin-left: calc(((100% - 720px) / 2));
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 561px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 540px;
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-container-layout-2 {
    padding-bottom: 0;
  }

  .u-section-1 .u-text-7 {
    margin-right: calc(((100% - 540px) / 2) + 161px);
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 355px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-text-8 {
    margin-right: calc(((100% - 540px) / 2) + 224px);
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-text-9 {
    margin-right: calc(((100% - 540px) / 2) + 21px);
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-text-10 {
    margin-right: calc(((100% - 540px) / 2) + 209px);
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-text-11 {
    margin-right: calc(((100% - 540px) / 2) + 43px);
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-text-12 {
    margin-right: calc(((100% - 540px) / 2) + 43px);
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-text-13 {
    margin-right: calc(((100% - 540px) / 2) + 48px);
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-text-14 {
    margin-right: calc(((100% - 540px) / 2) + 67px);
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-text-15 {
    margin-right: calc(((100% - 540px) / 2) + 139px);
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-text-16 {
    margin-right: calc(((100% - 540px) / 2) + 43px);
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-text-17 {
    margin-right: calc(((100% - 540px) / 2));
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-text-18 {
    margin-right: calc(((100% - 540px) / 2));
    margin-left: calc(((100% - 540px) / 2));
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 430px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 340px;
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 1383px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-text-2 {
    margin-right: 29px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 1025px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-5 {
    margin-right: 0;
  }

  .u-section-1 .u-text-6 {
    margin-right: 0;
  }

  .u-section-1 .u-text-7 {
    margin-right: calc(((100% - 340px) / 2));
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 224px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-text-8 {
    margin-right: calc(((100% - 340px) / 2) + 24px);
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-text-9 {
    margin-right: calc(((100% - 340px) / 2));
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-text-10 {
    margin-right: calc(((100% - 340px) / 2) + 9px);
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-text-11 {
    margin-right: calc(((100% - 340px) / 2));
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-text-12 {
    margin-right: calc(((100% - 340px) / 2));
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-text-13 {
    margin-right: calc(((100% - 340px) / 2));
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-text-14 {
    margin-right: calc(((100% - 340px) / 2));
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-text-15 {
    margin-right: calc(((100% - 340px) / 2));
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-text-16 {
    margin-right: calc(((100% - 340px) / 2));
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-text-17 {
    margin-right: calc(((100% - 340px) / 2));
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-text-18 {
    margin-right: calc(((100% - 340px) / 2));
    margin-left: calc(((100% - 340px) / 2));
  }
} .u-section-2 {
  min-height: 3216px;
}

.u-section-2 .u-image-1 {
  filter: brightness(0.6);
  height: 865px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-group-1 {
  width: 725px;
  min-height: 522px;
  margin: -734px calc(((100% - 1140px) / 2)) 0 auto;
}

.u-section-2 .u-container-layout-1 {
  padding: 0 30px;
}

.u-section-2 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  margin: -2px 20px 0 0;
}

.u-section-2 .u-text-2 {
  line-height: 2;
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;
  margin: 41px 0 0;
}

.u-section-2 .u-text-3 {
  margin: 255px calc(((100% - 1140px) / 2) + 214px) 0 calc(((100% - 1140px) / 2) + 240px);
}

.u-section-2 .u-shape-1 {
  width: 107px;
  height: 82px;
  margin: 142px auto 0 calc(((100% - 1140px) / 2) + -67px);
}

.u-section-2 .u-shape-2 {
  width: 570px;
  height: 228px;
  background-image: none;
  margin: -121px auto 0 calc(((100% - 1140px) / 2) + -103px);
}

.u-section-2 .u-shape-3 {
  width: 570px;
  height: 228px;
  background-image: none;
  margin: -220px auto 0 calc(((100% - 1140px) / 2) + -93px);
}

.u-section-2 .u-text-4 {
  text-transform: uppercase;
  font-weight: 700;
  margin: -172px calc(((100% - 1140px) / 2) + 299px) 0 calc(((100% - 1140px) / 2) + 325px);
}

.u-section-2 .u-text-5 {
  font-weight: 700;
  margin: -22px calc(((100% - 1140px) / 2) + 570px) 0 calc(((100% - 1140px) / 2) + -205px);
}

.u-section-2 .u-text-6 {
  font-weight: 700;
  margin: 0 calc(((100% - 1140px) / 2) + 741px) 0 calc(((100% - 1140px) / 2) + -35px);
}

.u-section-2 .u-shape-4 {
  width: 570px;
  height: 228px;
  background-image: none;
  margin: -454px auto 0 calc(((100% - 1140px) / 2) + -86px);
}

.u-section-2 .u-image-2 {
  width: 441px;
  height: 250px;
  margin: -243px calc(((100% - 1140px) / 2) + -67px) 0 auto;
}

.u-section-2 .u-text-7 {
  font-style: italic;
  font-weight: 700;
  margin: 110px calc(((100% - 1140px) / 2) + -142px) 0 calc(((100% - 1140px) / 2) + 507px);
}

.u-section-2 .u-text-8 {
  font-weight: 400;
  margin: 40px calc(((100% - 1140px) / 2) + -35px) 0 calc(((100% - 1140px) / 2) + 653px);
}

.u-section-2 .u-shape-5 {
  width: 113px;
  height: 58px;
  margin: 112px calc(((100% - 1140px) / 2) + -56px) 0 auto;
}

.u-section-2 .u-shape-6 {
  width: 570px;
  height: 228px;
  margin: -190px calc(((100% - 1140px) / 2) + -90px) 0 auto;
}

.u-section-2 .u-shape-7 {
  width: 570px;
  height: 228px;
  margin: -241px calc(((100% - 1140px) / 2) + -83px) 0 auto;
}

.u-section-2 .u-shape-8 {
  width: 570px;
  height: 228px;
  margin: -244px calc(((100% - 1140px) / 2) + -76px) 0 auto;
}

.u-section-2 .u-image-3 {
  width: 520px;
  height: 446px;
  margin: -682px auto 0 calc(((100% - 1140px) / 2) + -86px);
}

.u-section-2 .u-text-9 {
  text-transform: uppercase;
  font-weight: 700;
  font-style: italic;
  margin: 293px calc(((100% - 1140px) / 2) + 345px) 0 calc(((100% - 1140px) / 2) + 273px);
}

.u-section-2 .u-text-10 {
  font-weight: 700;
  font-style: italic;
  margin: 20px calc(((100% - 1140px) / 2) + 791px) 0 calc(((100% - 1140px) / 2) + -173px);
}

.u-section-2 .u-text-11 {
  margin: 0 calc(((100% - 1140px) / 2) + 719px) 0 calc(((100% - 1140px) / 2) + -13px);
}

.u-section-2 .u-text-12 {
  font-weight: 700;
  font-style: italic;
  margin: -125px calc(((100% - 1140px) / 2) + 20px) 0 calc(((100% - 1140px) / 2) + 686px);
}

.u-section-2 .u-text-13 {
  margin: 10px calc(((100% - 1140px) / 2) + -35px) 0 calc(((100% - 1140px) / 2) + 616px);
}

.u-section-2 .u-image-4 {
  width: 421px;
  height: 421px;
  margin: -196px auto 0 calc(((100% - 1140px) / 2));
}

.u-section-2 .u-text-14 {
  margin: -197px calc(((100% - 1140px) / 2) + 71px) 60px calc(((100% - 1140px) / 2) + 616px);
}

@media (max-width: 1199px) {
  .u-section-2 .u-group-1 {
    margin-right: calc(((100% - 940px) / 2));
  }

  .u-section-2 .u-text-3 {
    margin-right: calc(((100% - 940px) / 2) + 114px);
    margin-left: calc(((100% - 940px) / 2) + 140px);
  }

  .u-section-2 .u-shape-1 {
    margin-left: calc(((100% - 940px) / 2) + -67px);
  }

  .u-section-2 .u-shape-2 {
    margin-left: calc(((100% - 940px) / 2) + -103px);
  }

  .u-section-2 .u-shape-3 {
    margin-left: calc(((100% - 940px) / 2) + -93px);
  }

  .u-section-2 .u-text-4 {
    margin-right: calc(((100% - 940px) / 2) + 199px);
    margin-left: calc(((100% - 940px) / 2) + 225px);
  }

  .u-section-2 .u-text-5 {
    margin-right: calc(((100% - 940px) / 2) + 470px);
    margin-left: calc(((100% - 940px) / 2) + -205px);
  }

  .u-section-2 .u-text-6 {
    margin-right: calc(((100% - 940px) / 2) + 641px);
    margin-left: calc(((100% - 940px) / 2) + -35px);
  }

  .u-section-2 .u-shape-4 {
    margin-left: calc(((100% - 940px) / 2) + -86px);
  }

  .u-section-2 .u-image-2 {
    margin-right: calc(((100% - 940px) / 2) + -67px);
  }

  .u-section-2 .u-text-7 {
    margin-right: calc(((100% - 940px) / 2) + -142px);
    margin-left: calc(((100% - 940px) / 2) + 407px);
  }

  .u-section-2 .u-text-8 {
    margin-right: calc(((100% - 940px) / 2) + -35px);
    margin-left: calc(((100% - 940px) / 2) + 553px);
  }

  .u-section-2 .u-shape-5 {
    margin-right: calc(((100% - 940px) / 2) + -56px);
  }

  .u-section-2 .u-shape-6 {
    margin-right: calc(((100% - 940px) / 2) + -90px);
  }

  .u-section-2 .u-shape-7 {
    margin-right: calc(((100% - 940px) / 2) + -83px);
  }

  .u-section-2 .u-shape-8 {
    margin-right: calc(((100% - 940px) / 2) + -76px);
  }

  .u-section-2 .u-image-3 {
    margin-left: calc(((100% - 940px) / 2) + -86px);
  }

  .u-section-2 .u-text-9 {
    margin-right: calc(((100% - 940px) / 2) + 245px);
    margin-left: calc(((100% - 940px) / 2) + 173px);
  }

  .u-section-2 .u-text-10 {
    margin-top: 213px;
    margin-right: calc(((100% - 940px) / 2) + 691px);
    margin-left: calc(((100% - 940px) / 2) + -173px);
  }

  .u-section-2 .u-text-11 {
    margin-right: calc(((100% - 940px) / 2) + 619px);
    margin-left: calc(((100% - 940px) / 2) + -13px);
  }

  .u-section-2 .u-text-12 {
    margin-right: calc(((100% - 940px) / 2));
    margin-left: calc(((100% - 940px) / 2) + 506px);
  }

  .u-section-2 .u-text-13 {
    margin-top: 20px;
    margin-right: calc(((100% - 940px) / 2) + -35px);
    margin-left: calc(((100% - 940px) / 2) + 586px);
  }

  .u-section-2 .u-image-4 {
    margin-top: -431px;
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-2 .u-text-14 {
    margin-right: calc(((100% - 940px) / 2));
    margin-left: calc(((100% - 940px) / 2) + 487px);
  }
}

@media (max-width: 991px) {
   .u-section-2 {
    min-height: 3988px;
  }

  .u-section-2 .u-group-1 {
    width: 720px;
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-2 .u-text-1 {
    margin-right: 15px;
  }

  .u-section-2 .u-text-3 {
    margin-right: calc(((100% - 720px) / 2) + 4px);
    margin-left: calc(((100% - 720px) / 2) + 30px);
  }

  .u-section-2 .u-shape-1 {
    margin-left: calc(((100% - 720px) / 2) + -67px);
  }

  .u-section-2 .u-shape-2 {
    margin-left: calc(((100% - 720px) / 2) + -103px);
  }

  .u-section-2 .u-shape-3 {
    margin-left: calc(((100% - 720px) / 2) + -93px);
  }

  .u-section-2 .u-text-4 {
    margin-right: calc(((100% - 720px) / 2) + 89px);
    margin-left: calc(((100% - 720px) / 2) + 115px);
  }

  .u-section-2 .u-text-5 {
    margin-right: calc(((100% - 720px) / 2) + 360px);
    margin-left: calc(((100% - 720px) / 2) + -205px);
  }

  .u-section-2 .u-text-6 {
    margin-right: calc(((100% - 720px) / 2) + 531px);
    margin-left: calc(((100% - 720px) / 2) + -35px);
  }

  .u-section-2 .u-shape-4 {
    margin-left: calc(((100% - 720px) / 2) + -86px);
  }

  .u-section-2 .u-image-2 {
    margin-right: calc(((100% - 720px) / 2) + -67px);
  }

  .u-section-2 .u-text-7 {
    margin-right: calc(((100% - 720px) / 2) + -142px);
    margin-left: calc(((100% - 720px) / 2) + 297px);
  }

  .u-section-2 .u-text-8 {
    margin-right: calc(((100% - 720px) / 2) + -35px);
    margin-left: calc(((100% - 720px) / 2) + 443px);
  }

  .u-section-2 .u-shape-5 {
    margin-right: calc(((100% - 720px) / 2) + -56px);
  }

  .u-section-2 .u-shape-6 {
    margin-right: calc(((100% - 720px) / 2) + -90px);
  }

  .u-section-2 .u-shape-7 {
    margin-right: calc(((100% - 720px) / 2) + -83px);
  }

  .u-section-2 .u-shape-8 {
    margin-right: calc(((100% - 720px) / 2) + -76px);
  }

  .u-section-2 .u-image-3 {
    margin-top: 20px;
    margin-left: calc(((100% - 720px) / 2) + -86px);
  }

  .u-section-2 .u-text-9 {
    margin-right: calc(((100% - 720px) / 2) + 135px);
    margin-left: calc(((100% - 720px) / 2) + 63px);
  }

  .u-section-2 .u-text-10 {
    margin-top: 381px;
    margin-right: calc(((100% - 720px) / 2) + 581px);
    margin-left: calc(((100% - 720px) / 2) + -173px);
  }

  .u-section-2 .u-text-11 {
    margin-right: calc(((100% - 720px) / 2) + 509px);
    margin-left: calc(((100% - 720px) / 2) + -13px);
  }

  .u-section-2 .u-text-12 {
    margin-right: calc(((100% - 720px) / 2));
    margin-left: calc(((100% - 720px) / 2) + 286px);
  }

  .u-section-2 .u-text-13 {
    margin-right: calc(((100% - 720px) / 2) + -35px);
    margin-left: calc(((100% - 720px) / 2) + 476px);
  }

  .u-section-2 .u-image-4 {
    margin-top: -599px;
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-2 .u-text-14 {
    margin-top: 20px;
    margin-right: calc(((100% - 720px) / 2));
    margin-left: calc(((100% - 720px) / 2) + 267px);
  }
}

@media (max-width: 767px) {
   .u-section-2 {
    min-height: 6006px;
  }

  .u-section-2 .u-group-1 {
    width: 540px;
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 0;
  }

  .u-section-2 .u-text-3 {
    margin-left: calc(((100% - 540px) / 2));
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-2 .u-shape-1 {
    margin-left: calc(((100% - 540px) / 2) + -67px);
  }

  .u-section-2 .u-shape-2 {
    margin-left: calc(((100% - 540px) / 2) + -103px);
  }

  .u-section-2 .u-shape-3 {
    margin-left: calc(((100% - 540px) / 2) + -93px);
  }

  .u-section-2 .u-text-4 {
    margin-right: calc(((100% - 540px) / 2));
    margin-left: calc(((100% - 540px) / 2) + 24px);
  }

  .u-section-2 .u-text-5 {
    margin-left: calc(((100% - 540px) / 2));
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-2 .u-text-6 {
    margin-right: calc(((100% - 540px) / 2) + 441px);
    margin-left: calc(((100% - 540px) / 2) + -35px);
  }

  .u-section-2 .u-shape-4 {
    margin-left: calc(((100% - 540px) / 2) + -86px);
  }

  .u-section-2 .u-image-2 {
    margin-right: calc(((100% - 540px) / 2) + -67px);
  }

  .u-section-2 .u-text-7 {
    margin-left: calc(((100% - 540px) / 2));
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-2 .u-text-8 {
    margin-right: calc(((100% - 540px) / 2) + -35px);
    margin-left: calc(((100% - 540px) / 2) + 353px);
  }

  .u-section-2 .u-shape-5 {
    margin-right: calc(((100% - 540px) / 2) + -56px);
  }

  .u-section-2 .u-shape-6 {
    margin-right: calc(((100% - 540px) / 2) + -90px);
  }

  .u-section-2 .u-shape-7 {
    margin-right: calc(((100% - 540px) / 2) + -83px);
  }

  .u-section-2 .u-shape-8 {
    margin-right: calc(((100% - 540px) / 2) + -76px);
  }

  .u-section-2 .u-image-3 {
    margin-left: calc(((100% - 540px) / 2) + -86px);
  }

  .u-section-2 .u-text-9 {
    margin-right: calc(((100% - 540px) / 2) + 18px);
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-2 .u-text-10 {
    margin-top: 496px;
    margin-right: calc(((100% - 540px) / 2) + 491px);
    margin-left: calc(((100% - 540px) / 2) + -173px);
  }

  .u-section-2 .u-text-11 {
    margin-right: calc(((100% - 540px) / 2) + 419px);
    margin-left: calc(((100% - 540px) / 2) + -13px);
  }

  .u-section-2 .u-text-12 {
    margin-top: 20px;
    margin-right: calc(((100% - 540px) / 2));
    margin-left: calc(((100% - 540px) / 2) + 106px);
  }

  .u-section-2 .u-text-13 {
    margin-right: calc(((100% - 540px) / 2) + -35px);
    margin-left: calc(((100% - 540px) / 2) + 386px);
  }

  .u-section-2 .u-image-4 {
    margin-top: 20px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-2 .u-text-14 {
    margin-right: calc(((100% - 540px) / 2));
    margin-left: calc(((100% - 540px) / 2) + 87px);
  }
}

@media (max-width: 575px) {
   .u-section-2 {
    min-height: 10087px;
  }

  .u-section-2 .u-group-1 {
    width: 340px;
    min-height: 841px;
    margin-top: -853px;
    margin-right: auto;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-2 .u-text-3 {
    margin-top: 374px;
    margin-left: calc(((100% - 340px) / 2));
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-2 .u-shape-1 {
    margin-left: calc(((100% - 340px) / 2) + -67px);
  }

  .u-section-2 .u-shape-2 {
    width: 340px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-2 .u-shape-3 {
    width: 340px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-2 .u-text-4 {
    margin-left: calc(((100% - 340px) / 2));
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-2 .u-text-5 {
    width: 340px;
    margin-top: 106px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-text-6 {
    width: 289px;
    margin-top: 13px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-shape-4 {
    width: 340px;
    margin-top: 2765px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-2 .u-image-2 {
    width: 340px;
    height: 193px;
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-2 .u-text-7 {
    margin-left: calc(((100% - 340px) / 2));
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-2 .u-text-8 {
    width: auto;
    margin-top: 178px;
    margin-right: calc(((100% - 340px) / 2) + 29px);
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-2 .u-shape-5 {
    margin-top: -31px;
    margin-right: calc(((100% - 340px) / 2) + -1px);
  }

  .u-section-2 .u-shape-6 {
    width: 340px;
    margin-top: -185px;
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-2 .u-shape-7 {
    width: 340px;
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-2 .u-shape-8 {
    width: 340px;
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-2 .u-image-3 {
    width: 340px;
    height: 292px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-2 .u-text-9 {
    width: 340px;
    margin-top: 27px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-text-10 {
    width: auto;
    margin-top: 29px;
    margin-right: calc(((100% - 340px) / 2) + 253px);
    margin-left: calc(((100% - 340px) / 2) + -35px);
  }

  .u-section-2 .u-text-11 {
    width: auto;
    margin-top: 20px;
    margin-right: calc(((100% - 340px) / 2));
    margin-left: calc(((100% - 340px) / 2) + -40px);
  }

  .u-section-2 .u-text-12 {
    width: auto;
    margin-top: 27px;
    margin-right: calc(((100% - 340px) / 2) + 35px);
    margin-left: calc(((100% - 340px) / 2) + -35px);
  }

  .u-section-2 .u-text-13 {
    width: auto;
    margin-top: 27px;
    margin-right: calc(((100% - 340px) / 2) + 21px);
    margin-left: calc(((100% - 340px) / 2) + -35px);
  }

  .u-section-2 .u-image-4 {
    width: 340px;
    height: 340px;
    margin-top: 40px;
    margin-left: calc(((100% - 340px) / 2) + -28px);
  }

  .u-section-2 .u-text-14 {
    width: auto;
    margin: 27px calc(((100% - 340px) / 2) + 20px) 29px calc(((100% - 340px) / 2) + -20px);
  }
}.u-section-3 .u-sheet-1 {
  min-height: 805px;
}

.u-section-3 .u-image-1 {
  width: 849px;
  min-height: 661px;
  background-image: linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("images/airplanejetaviationaircraft.jpg");
  background-position: 50% 50%;
  margin: 84px auto 60px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-3 .u-text-1 {
  text-transform: uppercase;
  font-weight: 700;
  margin: 89px auto 0;
}

.u-section-3 .u-line-1 {
  width: 362px;
  transform-origin: right center 0px;
  margin: 35px 216px 0 auto;
}

.u-section-3 .u-text-2 {
  text-transform: uppercase;
  font-style: italic;
  font-weight: 700;
  margin: 35px 0 0 15px;
}

.u-section-3 .u-btn-1 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 165px;
  }

  .u-section-3 .u-image-1 {
    margin-right: 45px;
  }

  .u-section-3 .u-line-1 {
    height: 3px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 805px;
  }

  .u-section-3 .u-image-1 {
    width: 720px;
    margin-top: 67px;
    margin-right: -14px;
    margin-bottom: 52px;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-right: -14px;
    margin-left: 14px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-image-1 {
    width: 540px;
    margin-right: 0;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-line-1 {
    margin-right: 178px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-image-1 {
    width: 340px;
  }

  .u-section-3 .u-line-1 {
    width: 340px;
    margin-right: 0;
  }
} .u-section-4 {
  background-image: linear-gradient(#425465, #77aad9);
}

.u-section-4 .u-sheet-1 {
  min-height: 476px;
}

.u-section-4 .u-shape-1 {
  width: 156px;
  height: 170px;
  margin: -28px auto 0 0;
}

.u-section-4 .u-shape-2 {
  width: 178px;
  height: 152px;
  margin: -142px -30px 0 auto;
}

.u-section-4 .u-text-1 {
  text-transform: uppercase;
  margin: -119px auto 0;
}

.u-section-4 .u-text-2 {
  margin: 9px auto 0;
}

.u-section-4 .u-text-3 {
  width: 263px;
  margin: 9px auto 0;
}

.u-section-4 .u-text-4 {
  margin: 9px 0 0;
}

.u-section-4 .u-text-5 {
  margin: -9px 0 0;
}

.u-section-4 .u-shape-3 {
  width: 158px;
  height: 118px;
  margin: 15px auto 0 24px;
}

.u-section-4 .u-text-6 {
  margin: -125px 0 60px;
}